@import "../../styles/colors";

@mixin fullInset {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.05rem;

  color: white;
  background: transparent;
  padding: 0.4rem 2rem;

  position: relative;

  &:hover .background,
  &:focus-visible .background {
    transform: scale(1.1);
  }
}

.icon {
  width: 3.2rem;
  height: 3.2rem;

  padding: 0;

  .children {
    position: absolute;
    transform: translate(-50%, -50%);
  }

  .background {
    border-radius: 100%;
  }
}

.background {
  border-radius: 1rem;
  background: $accent;

  position: absolute;
  @include fullInset();

  transition: transform 100ms ease-in-out;
}

.children {
  position: relative;
  top: 50%;
  left: 50%;

  transform: translateX(-50%);
  transition: opacity 100ms;
}

.loadingCircles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    overflow: visible;

    @for $i from 1 through 3 {
      :nth-child(#{$i}) {
        animation-delay: calc(7 * #{$i}0ms);
      }
    }
  }

  * circle {
    fill: black;

    animation: bounce 1s infinite;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0%);
  }

  30% {
    transform: translateY(50%);
  }

  70% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(0%);
  }
}
