@import "../../styles/highlight";

.test {
  background: white;

  width: min(80%, 60rem);
  padding: 1rem 0;

  display: flex;
  justify-content: center;

  @media only screen and (min-width: 900px) {
    @include highten;
    padding: 32px;
  }
}
